.custom-tooltip {
    width: 39px;
    height: 63px;
    background: var(--graph-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.label {
    font-size: 7px;
    color: var(--color-primary);
    padding: 5px;
}

.tooltip-linearChart {
    width: 39px;
    height: 25px;
    background: var(--color-primary);
}
.label-linearChart {
    color: #000000;
    font-size: 8px;
}
