.radialChart-Wrapper {
    min-width: 210px;
    width: 30%;
    max-width: 30%;
    height: 263px;

    background: var(--background-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
    position: relative;
}

.radialChart-title {
    font-size: 15px;
    color: var(--graph-tertiary);
    position: absolute;
    top: 7%;
    left: 8%;
}

.radialChart-text {
    width: 95px;
    font-size: 16px;
    line-height: 26px;
    color: var(--tertiary-color);
    position: absolute;
    top: 35%;
    left: 38%;
}
.radialChart-text > span {
    font-size: 26px;
    font-weight: 700;
    color: var(--graph-secondary);
}
