.banner-wrapper {
    width: 100%;
    padding: 30px;
    margin-left: 30px;
}
.banner-title {
    font-size: calc(var(--size) * 4);
    padding: 10px;
}
.banner-title > span {
    color: var(--secondary-color);
}
.banner-text {
    font-size: calc(var(--size) + 6px);
    font-weight: 400;
    padding: 10px;
    margin-left: 5px;
}
