.App {
  box-sizing: border-box;
  min-width: 1024px;
  /* max-width:1440px; */
  height:100vh;
  min-height: 770px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow-x: hidden;
}

